<h2>
  <u>
    New Events
  </u>
</h2>


<% @events.each do |event| %>

  <div class='event'>

    <div class='date'>
      <b>
        <%= DateTime.parse(event['date']).strftime('%a, %b %d') %>
      </b>
    </div>

    <div class='title'>
      <%= event['name'] %>
    </div>

    <div class='artists'>
      <b>
        <% if event['artistList'].length > 1 %>
          <% event['artistList'].each do |artist| %>
            <% if @artists.include?(artist['name']) %>
              <div class='artistSelect' style='color:red;'>
            <% else %>
              <div style='color:#09a8a2;'>
            <% end %>
                <%= artist['name'] %>
              </div>
          <% end %>
        <% else %>
          <div class='artistSelect' style='color:red;'>
            <%= event['artistList'][0]['name'] %>
          </div>
        <% end %>
      </b>
    </div>

    <div class='venue'>
    <% if @dressCode.include?(event['venue']['name']) %>
      <span class='venueTitle dressCode style='color:#86a50c;'>
    <% else %>
      <span class='venueTitle style='color:#700cba;'>
    <% end %>
        <%= event['venue']['name'] %>
      </span>
      <span>&#183;</span>
      <span>
        <%= event['venue']['location'] %>
      </span>
    </div>

  </div>

  <br />

<% end %>