<h2>
  <u>
    New Events
  </u>
</h2>


<% @events.each do |event| %>

  <div class='event'>

    <div class='date'>
      <b>
        <%= DateTime.parse(event['date']).strftime('%a, %b %d') %>
      </b>
    </div>

    <div class='title'>
      <%= event['name'] %>
    </div>

    <div class='artists' style='color:#09a8a2;'>
      <b>
        <% if event['artistList'].length > 1 %>
          <% artistArr = [] %>
          <% event['artistList'].each do |artist| %>
            <% artistArr << artist['name'] %>
          <% end %>
          <%= artistArr.join(', ') %>
        <% else %>
          <%= event['artistList'][0]['name'] %>
        <% end %>
      </b>
    </div>

    <div class='venue'>
      <span class='venueTitle' style='color:red;'>
        <%= event['venue']['name'] %>
      </span>
      <span>&#183;</span>
      <span>
        <%= event['venue']['location'] %>
      </span>
    </div>

  </div>

  <br />

<% end %>